<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/selection/tail.select-default.css" />
  <link href="dashboard.css" rel="stylesheet">
  <title>County vs Oil View</title>

  <style>
    text {
      font-size: 20px;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <!-- Top navigation bar -->
  <nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="http://localhost:8080/index">OIL, GAS, AND WATER
      PRODUCTION</a>
    </ul>
  </nav>

  <!-- Sidebar -->
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="index">
                <span data-feather="home"></span>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="MapView">
                <span data-feather="map"></span>
                Map
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CompanyVsProductionByYearView">
                <span data-feather="briefcase"></span>
                Company
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="CountyVsProductionByYearView">
                <span data-feather="bar-chart-2"></span>
                County <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Documentation</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="aboutus">
                <span data-feather="file-text"></span>
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="technologies">
                <span data-feather="file-text"></span>
                Technologies
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="members">
                <span data-feather="file-text"></span>
                Members
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>


  <!-- Page title and some buttons-->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">County View</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
      </div>
    </div>

    <!-- Page content below -->
    <form id="utility">
      <input type="radio" name="utility" value="oil">
      Oil (bbl) <br>
      <input type="radio" name="utility" value="gas">
      Gas (Mcf) <br>
      <input type="radio" name="utility" value="water">
      Water (bbl) <br>
    </form>
    </div>

    <div id="info">

    </div>
    <div>
      <select multiple id="counties">
      </select>
    </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/selection/tail.select.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <!-- Optional JavaScript -->
    <script src="CountyVsProductionByYear.js"></script>
    <script>
        (function () {
          'use strict'
          feather.replace()
        }())
    </script>

</body>

</html>