<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="dashboard.css" rel="stylesheet">
  <title>Members</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <!-- Top navigation bar-->
  <nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="http://localhost:8080/index">OIL, GAS, AND WATER
      PRODUCTION</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="index">
                <span data-feather="home"></span>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="MapView">
                <span data-feather="map"></span>
                Map
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CompanyVsProductionByYearView">
                <span data-feather="briefcase"></span>
                Company
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CountyVsProductionByYearView">
                <span data-feather="bar-chart-2"></span>
                County
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Documentation</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="aboutus">
                <span data-feather="file-text"></span>
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="technologies">
                <span data-feather="file-text"></span>
                Technologies
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="members">
                <span data-feather="file-text"></span>
                Members <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Page title and some buttons -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Our members</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          </div>
        </div>

        <!-- Page content below -->

        <!-- Memeber list below
    ================================================== -->

        <div class="container marketing">

          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Sutter Grune</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/suttergrune" role="button">View
                  details &raquo;</a>
              </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>John Medlock</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/johnMedlockDev" role="button">View
                  details &raquo;</a>
              </p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Phuc Le</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/Phuc-Le" role="button">View details
                  &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div>

        <div class="container marketing">

          <!-- Three columns of text below -->
          <div class="row">
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Jeff Magina</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/JeffreyMagina" role="button">View
                  details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Mason Noyce</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/MasonNoyce" role="button">View details
                  &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Jay Patel</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/6jaypatel" role="button">View details
                  &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div>

        <div class="container marketing">

          <!-- Three columns of text below -->
          <div class="row">
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Daniel Fabela</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/dannyalee" role="button">View details
                  &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn3.iconfinder.com/data/icons/corporate-avatars-in-various-human-skin-tones-1/100/Corporate_Avatars_colour_63-01-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Cynthia Yang</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/CynthiaYang88" role="button">View
                  details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Garrison Adams</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/GarrisonAdams" role="button">View
                  details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div>

        <div class="container marketing">

          <!-- Three columns of text below -->
          <div class="row">
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Jacob Macklin</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/jacobmacklin96" role="button">View
                  details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Christian Castillo</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/Christian-Castillo" role="button">View
                  details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Pejal Rath</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/pejalrath077" role="button">View
                  details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div>

        <div class="container marketing">

          <!-- Three columns of text below -->
          <div class="row">
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Brandon Nelsen</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/b154810" role="button">View details
                  &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Jeremy Tran</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/jt0321" role="button">View details
                  &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img id="employee"
                src="https://cdn0.iconfinder.com/data/icons/activities-flat-colorful/2048/2145_-_Holding_flowers-512.png"
                class="rounded-circle" alt="Sutter" width="140" height="140">
              <h2>Anthony Le</h2>
              <p><a class="btn btn-info" target="_blank" href="https://github.com/aale12" role="button">View details
                  &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="dashboard.js"></script>
</body>
</body>

</html>