<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="dashboard.css" rel="stylesheet">
  <title>Technologies</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body>
  <!-- Top navigation bar -->
  <nav class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="http://localhost:8080/index">OIL, GAS, AND WATER
      PRODUCTION</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </ul>
  </nav>

  <!-- Sidebar -->
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="index">
                <span data-feather="home"></span>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="MapView">
                <span data-feather="map"></span>
                Map
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CompanyVsProductionByYearView">
                <span data-feather="briefcase"></span>
                Company
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="CountyVsProductionByYearView">
                <span data-feather="bar-chart-2"></span>
                County
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Documentation</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="aboutus">
                <span data-feather="file-text"></span>
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="technologies">
                <span data-feather="file-text"></span>
                Technologies <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="members">
                <span data-feather="file-text"></span>
                Members
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Page title and some buttons-->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Technologies</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
          </div>
        </div>

        <!-- Technologies content -->
        <!-- START OF THE DEVOPS FEATURETTES -->
        <div id="devops" class="col-12 text-center">
          <h2>DevOps</h2>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Apache Kafka. <span class="text-muted">A Distributed Streaming
                Platform.</span></h2>
          </div>
          <div class="col-md-5">
            <img id="technology"
              src="https://svn.apache.org/repos/asf/kafka/site/logos/originals/png/WIDE%20-%20Black%20on%20Transparent.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Amazon Web Services. <span class="text-muted">Amazon EC2.</span></h2>
          </div>
          <div class="col-md-5 order-md-1">
            <img id="technology"
              src="https://pronto-core-cdn.prontomarketing.com/2/wp-content/uploads/sites/2836/2018/08/partner-sq-awslogo.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Docker Compose. <span class="text-muted">Write Once, Run Everywhere.</span>
            </h2>
          </div>
          <div class="col-md-5">
            <img id="technology" src="https://miro.medium.com/proxy/1*9hGvYE5jegHm1r_97gH-jQ.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <!-- START OF THE QA FEATURETTES -->
        <div id="QA" class="col-12 text-center">
          <h2>Quality Assurance</h2>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">JUnit. <span class="text-muted">Keep the bar green to keep the code
                clean.</span></h2>
          </div>
          <div class="col-md-5">
            <img id="technology" src="https://gpcoder.com/wp-content/uploads/2019/03/junit-4.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Docker. <span class="text-muted">Write Once, Run Everywhere.</span></h2>

          </div>
          <div class="col-md-5">
            <img id="technology" src="https://miro.medium.com/proxy/1*9hGvYE5jegHm1r_97gH-jQ.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <!-- START OF THE SPARK FEATURETTES -->
        <div id="spark" class="col-12 text-center">
          <h2>Spark</h2>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Apache Spark. <span class="text-muted">Lightning Fast Cluster
                Computing.</span></h2>
          </div>
          <div class="col-md-5">
            <img id="technology"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Apache_Spark_logo.svg/1200px-Apache_Spark_logo.svg.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Docker. <span class="text-muted">Write Once, Run Everywhere.</span>
            </h2>
          </div>
          <div class="col-md-5 order-md-1">
            <img id="technology" src="https://miro.medium.com/proxy/1*9hGvYE5jegHm1r_97gH-jQ.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">PostgreSQL. <span class="text-muted">A Relational Database.</span></h2>
          </div>
          <div class="col-md-5">
            <img id="technology" src="https://portworx.com/wp-content/uploads/2018/05/postgresql-logo.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <!-- START OF THE DASHBOARD FEATURETTES -->
        <div id="dashboard" class="col-12 text-center">
          <h2>Dashboard</h2>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Spring Framework. <span class="text-muted">Makes Java cloud-ready.</span>
            </h2>
          </div>
          <div class="col-md-5">
            <img id="technology"
              src="https://4.bp.blogspot.com/-9kYSwCDRbms/W-qSUvwnFWI/AAAAAAAAEsE/j4EeFEPQHBc-QpxMV9l3gQAaLAuG2WhTgCLcBGAs/s1600/spring-framework.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">D3.js <span class="text-muted">Data-Driven Documents.</span></h2>
          </div>
          <div class="col-md-5 order-md-1">
            <img id="technology" src="https://pngimage.net/wp-content/uploads/2018/05/d3js-png.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Bootstrap 4. <span class="text-muted">An Open-Source Toolkit.</span></h2>
          </div>
          <div class="col-md-5">
            <img id="technology" src="https://fuzati.com/wp-content/uploads/2016/12/Bootstrap-Logo.png"
              class="featurette-image img-fluid mx-auto" alt="Spring" width="500" height="500">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
          integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="dashboard.js"></script>
</body>
</body>

</html>